{% extends 'partials/_main.html' %}
{% block food_list %}
    <div class="row special-list">
        {% for food in foods %}
           <a href="{% url 'food_detail' food.id %}">
            <div class="col-lg-4 col-md-6 special-grid {{ food.category }}">
                <div class="gallery-single fix">
                    <img src="{{ food.photo.url }}" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h5 >{{ food.name }}</h5>
                        <p class="h6 text-light">{{ food.description|truncatechars:100 }}</p>
                        <h5> {{ food.price }} $ </h5>
                    </div>
                </div>
            </div>
           </a>
        {% endfor %}
        </div>
{% endblock %}